body{
    margin: 0;
    width: 100%;
    height:100%;
    background-image: linear-gradient(rgb(174, 218, 230), rgb(127, 213, 236),rgb(29, 186, 230));
}

.quiz-text{
    font-family: 'Amatic SC', cursive;
    color: black;
}

/*For the header design*/
header{
    text-align: center;
}

.top-pic-container{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.title{
    font-family: 'Calligraffitti', cursive;
    font-size: 60px;
    margin-bottom: 0;
}

.top-picture{
    display: inline-block;
    width: 300px;
    height: 200px; 
    border: 1px solid lightblue;
    border-radius: 100px;
}

.quiz-container{
    text-align: center;
    display: block;
    border: 1px solid palegoldenrod;
    margin: 20px auto;
    padding-left: 3px;
    border-radius: 25px;
    background: url(images/quizcontainer.png);
    width: 80%;
    height: 600px;
}

/*Starting screen*/
.picture-start{
    display: block;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    margin-top: 20px;
    border: none;
    width: 75%;
    height: 300px;
}

.start-text{
    font-size: 40px;
    margin-bottom: 3px;
    margin-right: 2px auto;
    margin-left: 2px auto;
}

/*Question section*/

#start{
    margin-top: 10px;
    height: 40px;
    width: 100px;
    background-color: chartreuse;
    border: none;
    border-radius: 25px;
    font-weight: bold;
}
.question{
    margin-bottom: 0;
    margin-top: 15px;
    margin-left: 2px auto;
    margin-right: 2px auto;
    font-size: 45px;
}

.choice-1{
    margin-top: 0;
}
.choice{
    margin-top: 10px;
    display: block;
    text-align: left;
    margin-bottom: 3px;
    font-size: 40px;
}

.choice-4{
    display: block;
    text-align: left;
    margin-bottom: 15px;
}

.four-choices{
    border: none;
    margin-bottom: 0px;
    margin-top: 0;
}

.progress{
    font-size: 30px;
    margin-top: 10px;
}
#quiz-submit{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    height: 45px;
    width: 100px;
    background-image: linear-gradient(red, yellow, blue);
    border: none;
    border-radius: 40px;
    font-weight: bold;
}

.questions{
    display: flex;
    flex-direction: column;
}

.blockA{
    position: relative;
    top: 5%;
}

.blockB{
    position: relative;
    top: 5%;
}
 .blockC{
     position: relative;
 }
/* Quiz answer section*/

.answer-text-top{
    font-size: 35px;
    margin-bottom: 0;
    margin-top: 25px;
}
.quiz-picture{
    display: block;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    width: 200px;
    height: 200px;
}

.answer-to-quiz-p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
}
.explanation{
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
}

#next{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    height: 35px;
    width: 100px;
    background-color: greenyellow;
    border: none;
    border-radius: 25px;
    font-weight: bold;
}

.reset{
    margin: 10px auto;
    height: 23px;
    width: 100px;
    background-color: darkgreen;
    border: none;
    border-radius: 25px;
    font-weight: bold;
}

.quiz-text.result{
    font-size: 20px;
}
/*End of quiz section*/
.picture-end{
    display: block;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1 none;
    width: 75%;
    height: 350px;
}

#retry{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    background-image: radial-gradient(circle, red, yellow, green);
}

.end-text{
    font-size: 33px;
    margin: 0;
    margin-top: 15px;
}

/*Additional pics*/
.additional-pic{
    display: none;
    width: 200px;
    height: 120px; 
    border: 1px solid black;
}


@media only screen and (min-width: 900px) {
    .additional-pic{
        display: inline-block; 
        border: none; 
    }
}

/* User this section to switch to different parts of the quiz*/

.quiz-start{
    display: block;
}

.questions{
    display: none;
}
.answer{
    display: none;
}

.quiz-end{
    display: none;
}