/*For the header design*/
header{
    text-align: center;
}

.top-pic-container{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.title{
    font-family: 'Calligraffitti', cursive;
    font-size: 60px;
    margin-bottom: 0;
}

img.top-picture{
    display: inline-block;
    width: 300px;
    height: 200px; 
    border: 1px solid lightblue;
    border-radius: 100px;
}

.quiz-container{
    text-align: center;
    display: block;
    border: 1px solid black;
    margin: 20px auto;
    padding: 10px;
    border-radius: 25px;
    width: 80%;
    height: 600px;
}

/*Starting screen*/
.picture-start{
    display: block;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    margin-top: 100px;
    border: 1px solid black;
    width: 75%;
    height: 300px;
}

/*Question section*/
.question{
    margin-bottom: 20px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
}

.choice{
    display: block;
    text-align: left;
    margin-bottom: 35px;
}

.choice-4{
    display: block;
    text-align: left;
    margin-bottom: 30px;
}

.four-choices{
    border: none;
    margin-bottom: 30px;
}

/* Quiz answern section*/
.quiz-picture{
    display: block;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.answer-to-quiz-p{
    margin-top: 5px;
}
.explanation{
    margin-right: 2%;
    margin-left: 2%;
    font-size: 14px;
    margin-top: 0px;
}
#next{
    display: block;
    margin: 10px auto;
}

/*End of quiz section*/
.picture-end{
    display: block;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid black;
    width: 75%;
    height: 350px;
}

/*Additional pics*/
.additional-pic{
    display: none;
    width: 200px;
    height: 120px; 
    border: 1px solid black;
}


@media only screen and (min-width: 900px) {
    .additional-pic{
        display: inline-block; 
        border: none; 
    }

    .top-picture{
        margin-left: 5%;
        margin-right: 5%;
    }

    .choice{
        margin-bottom: 40px;
    }

    .four-choices{
        margin-top: 20px;
        margin-bottom: 35px;
    }

    .quiz-picture{
        height: 250px;
    }

    .explanation{
        font-size: 18px;
        margin-top: 0px;
    }
}

/* User this section to switch to different parts of the quiz*/

.quiz-start{
    display: block;
}

.questions{
    display: none;
}
.answer{
    display: none;
}

.quiz-end{
    display: none;
}